
.form {
    background-color: white;
    width: 350px;
    height: 450px;
    border-radius: 30px;
    margin-top: 5%;
   /* margin-left: 41%;*/
    box-shadow: 15px 15px 300px rgb(0, 0, 0);
    text-align:center;
    align-items: center;
}


.fin {
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: center;
}


.form .log {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: -50px;
    
}

h1 {
    font-size: 45px;
    margin-top: -3%;
    color: #545454;
    margin-bottom: 0%;
}

h2 {
    margin-top: -5%;
    margin-bottom: 0%;
    font-size: 40px;
    color: #545454;
    padding: 10px
}

h3 {
    margin: 0%;
    color:#545454;
   font-size: 14px;
   color:   rgb(0, 0, 0);
   text-align: center;
 padding-bottom: 0px;
}

.form input[type="email"],
.form input[type="password"] {
    border: none;
    border-bottom: 2px solid rgb(255, 153, 0);
    outline: none;
    height: 35px;
    font-size: 16px;
    width: 300px;
    color: #545454;
    margin-top:27px;
    
}

.btn {
    border: none;
    height: 50px;
    width: 200px;
    background: orange;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 10px;
    transition: background-color 0.5s;
    padding: 10px, 10px;
   text-decoration: none;

}
 .btn:hover {
    background-color: #545454;
 }

 .registro {
    color: aliceblue;
    padding: 15px;
    margin-top: 5px;
    text-align:center;
    align-items: center;
 }
 .registro .Btn {
    border: none;
    height: 50px;
    width: 200px;
    background: #545454;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    transition: background-color 0.5s;
    align-items: center;
 }

 .Btn:hover {
    background-color: orange;
 }
 

  .reg {
    background-color: rgb(245, 245, 245);
    color:rgb(79, 79, 125);
    border-radius: 100px;
    font-size: 25px;
    width: 10cm;
    
}



footer p {
    margin: 2px;
    color: #545454;
    font-size: 15px;    
}
.fin {
    background-color:#f8f9fa;
    max-height: 20px;
    overflow: hidden;
    margin-top: 5cm;
}

.left{
    float: left;
}
.right{
float:right;

}
