/* Estilos generales para el modo noche */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #2c3e50; /* Color de fondo principal */
  color: #ecf0f1; /* Color del texto principal */
}

.container {
  max-width: 1140px;
}

/* Encabezado en modo noche */
.navbar {
  background-color: #34495e; /* Color de fondo del encabezado */
  border-bottom: 3px solid orange; /* Color de borde inferior */
}

.navbar-brand, .nav-link {
  color: #ecf0f1 !important; /* Color de texto en el encabezado */
  font-weight: bold;
}

/* Tarjetas de categorías en modo noche */
.custom-card {
  background-color: #34495e; /* Color de fondo de las tarjetas */
  border-radius: 10px;
  transition: transform 0.3s;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.custom-card h3 {
  font-size: 24px;
  color: #ecf0f1; /* Color del título */
}

.custom-card p {
  color: #bdc3c7; /* Color del texto */
}

/* Botón "Y mucho más!" en modo noche */
#btnmas {
  background-color: #34495e;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
}

#btnmas:hover {
  background-color: orange;
}

/* Pie de página en modo noche */
.text-muted {
  background-color: #34495e; /* Color de fondo del pie de página */
  padding: 10px 0;
  text-align: center;
  color: #ecf0f1;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0%;
}

.text-muted a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: normal;
}

.text-muted a:hover {
  text-decoration: underline;
}
