.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}
.navbar-navbar-expand-lg-navbar-dark-bg-dark-p-1 {
  background-color: white;
}
nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
#article-list {
  list-style-type: none;
  padding: 0;
}
.article {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}
                /*probando css */
                body {
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  background-color: #f0f0f0;
                }
              
                .album {
                  padding-top: 50px;
                }
              
                .custom-card {
                  position: relative;
                  overflow: hidden;
                  border-radius: 10px;
                  width: 160px;
                  height: 80px;
                  cursor: pointer;
                  transition: transform 0.3s, box-shadow 0.3s;
                  background-color: white;
                  border: 4px solid #a2aece;
                  text-align: center;
                }
              
                .custom-card h3 {
                  margin: 0;
                  padding: 10px;
                  padding-left: 3px;
                  font-size: 16px;
                  color: #a2aece;
                  align-content: center;
                }
              
                .custom-card p {
                  margin: 0;
                  padding: 10px;
                  background-color: #a2aece;
                  color: white;
                  opacity: 0; /* Cambiado para ocultar inicialmente */
                  transform: translateY(-100%); /* Cambiado para ocultar inicialmente */
                  transition: opacity 0.3s, transform 0.3s; /* Agregado para el efecto de despliegue */
                }
              
                .custom-card:hover {
                  transform: scale(1.05);
                  height: 250px;
                }
              
                .custom-card:hover h3 {
                  
                  opacity: 0; /* Cambiado para ocultar inicialmente */
                  transform: translateY(-100%); /* Cambiado para ocultar inicialmente */
                  transition: opacity 0.3s, transform 0.3s; /* Agregado para el efecto de despliegue */
                  display: none;
                }
              
                .custom-card:hover p {
                  padding-top: -80px;
                  opacity: 1; /* Mostrar el título al hacer hover */
                  transform: translateY(0); /* Mostrar el título al hacer hover */
                  background-color: white;
                  color: #a2aece;
                }
/*body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}

.album {
padding-top: 50px;
}

.custom-card {
position: relative;
overflow: hidden;
border-radius: 10px;
width: 150px;
height: 80px;
cursor: pointer;
transition: transform 0.3s, box-shadow 0.3s;
background-color: white;
border: 3px solid #a2aece;
}

.custom-card h3 {
margin: 0;
padding: 10px;
font-size: 16px;
transition: opacity 0.3s;
}

.custom-card p {
margin: 0;
padding: 10px;
background-color: #a2aece;
color: white;
transform: translateY(-100%); /* Cambiado para ocultar inicialmente */


.custom-card:hover {
transform: scale(1.05);
}
.custom-card:hover p {
transform: scaleY(1);
} /* Mostrar la descripción al hacer hover */